<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="stylesheet" href={{css}} type='text/css'>
    <meta name="author" content="Krzysztof" />
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="mysite"/>
    <meta name="description" content="website"/>
</head>
<body background={{backgroundURL}}>

<form method="post" action="/hello">
    <input type="submit" value="Log Out">
</form>
    <form method="post" action="/edited">
        <h1>Welcome in CMS!</h1>
        <h2>Edit intro to web site header:</h2><br>
        <textarea class="header" maxlength="250">{{headerIntro}}</textarea>
        <h2>Edit intro to web site describe:</h2><br>
        <textarea class="describe" maxlength="1000">{{describeIntro}}</textarea><br>
        <h2>Edit welcome header:</h2><br>
        <textarea class="header" maxlength="250">{{headerWelcome}}</textarea>
        <h2>Edit welcome describe:</h2><br>
        <textarea class="describe" maxlength="1000">{{describeWelcome}}</textarea><br>
        <h2>Edit additional describe header:</h2><br>
        <textarea class="header" maxlength="250">{{headerAdditional}}</textarea>
        <h2>Edit additional describe:</h2><br>
        <textarea class="describe" maxlength="1000">{{describeAdditional}}</textarea><br>
        <h2>Edit option1 title:</h2><br>
        <textarea class="title" maxlength="50">{{titleOption1}}</textarea>
        <h2>Edit option 1 header:</h2><br>
        <textarea class="header" maxlength="250">{{headerOption1}}</textarea>
        <h2>Edit option 1 describe:</h2><br>
        <textarea class="describe" maxlength="1000">{{describeOption1}}</textarea><br>
        <h2>Edit option 2 title:</h2><br>
        <textarea class="title" maxlength="50">{{titleOption2}}</textarea>
        <h2>Edit option 3 header:</h2><br>
        <textarea class="header" maxlength="250">{{headerOption2}}</textarea>
        <h2>Edit option 2 describe:</h2><br>
        <textarea class="describe" maxlength="1000">{{describeOption2}}</textarea><br>
        <h2>Edit option 3 title:</h2><br>
        <textarea class="title" maxlength="50">{{titleOption3}}</textarea>
        <h2>Edit option 3 header:</h2><br>
        <textarea class="header" maxlength="250">{{headerOption3}}</textarea>
        <h2>Edit option 3 describe:</h2><br>
        <textarea class="describe" maxlength="1000">{{describeOption3}}</textarea><br>
        <h2>Edit footer title:</h2><br>
        <textarea class="title" maxlength="50">{{titleFooter}}</textarea><br><br>
        <button type="submit">Confirm edit!</button>

    </form>
</body>
</html>